<div class="navbar-fixed">
  <nav controller="NavbarCtrl" class="blue-grey darken-3">
    <a ui-sref="students" class="brand-logo margin-left-50 decrease-font-size">The School for Teaching & Learning</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down margin-right-50">
      <li ng-class="{activeTab: tab === 'Students'}" ng-click="tab = 'Students'"><a ui-sref="students">Students</a></li>
      <li ng-class="{activeTab: tab === 'School'}" ng-click="tab = 'School'"><a ui-sref="school">School</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a ui-sref="students">Students</a></li>
      <li><a ui-sref="school">School</a></li>
    </ul>
  </nav>
</div>


