    <nav controller="NavbarCtrl">
      <a href="#!" class="brand-logo">School Dashboard</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a ui-sref="students">Students</a></li>
        <li><a ui-sref="school">School</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a ui-sref="students">Students</a></li>
        <li><a ui-sref="school">School</a></li>
      </ul>
    </nav>

    <div ui-sref='main'></div>