<div gridster="gridsterOpts">
    <ul>
        <li widget gridster-item row="0" col="0" size-x="4" size-y="3">
	        	
	        	<div class="widget-header z-index-1">
	        		<h1 class="widget-header-title">Students</h1>
	        	</div>
		     
	        	<div class="widget-body">
					<table class="bordered centered highlight responsive-table">
						<thead>
						  <tr>
							<th ng-repeat="header in tableHeaders">{{ header }}</th>
						  </tr>
						</thead>
						<tbody>
							<tr ng-repeat="student in students">
								<td>{{ student.studentId }}</td>
								<td>{{ student.studentName }}</td>
								<td>{{ student.grade }}</td>
								<td>{{ student.gender }}</td>
								<td>{{ student.percentDaysLateSy1415 }}</td>
								<td>{{ student.attendanceSy1415 }}</td>
							</tr>
						</tbody>
					</table>
				</div>
        </li>
        <li gridster-item row="0" col="4" size-x="2" size-y="3" style="background: red; overflow: hidden">
			<table class="bordered centered highlight responsive-table" style="height: 100%;">
				<thead>
				  <tr>
					<th ng-repeat="header in tableHeaders">{{ header }}</th>
				  </tr>
				</thead>
				<tbody>
					<tr ng-repeat="student in students">
						<td>{{ student.studentId }}</td>
						<td>{{ student.studentName }}</td>
						<td>{{ student.grade }}</td>
						<td>{{ student.gender }}</td>
						<td>{{ student.percentDaysLateSy1415 }}</td>
						<td>{{ student.attendanceSy1415 }}</td>
					</tr>
				</tbody>
			</table>

        </li>
    </ul>
</div>